<form>
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre:</label>
      <input type="text" class="form-control" id="nombre" name="nombre">
    </div>
    
    <div class="mb-3">
      <label for="edad" class="form-label">Edad:</label>
      <input type="number" class="form-control" id="edad" name="edad">
    </div>
    
    <div class="mb-3">
      <label for="equipo" class="form-label">Equipo:</label>
      <input type="text" class="form-control" id="equipo" name="equipo">
    </div>
    
    <div class="mb-3">
      <label for="posicion" class="form-label">Posición:</label>
      <input type="text" class="form-control" id="posicion" name="posicion">
    </div>
    
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
  
